[submodule "tools/source/assembler"]
	path = tools/source/assembler
	url = https://github.com/JMWComputer/Assembler
[submodule "tools/compiler"]
	path = tools/compiler
	url = https://github.com/JMWComputer/JMWC
